main {
    padding: ;
    border: ;
}
section {
    width: 50%;
    padding: 20px;
    border: 1px solid slategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
section2 {
    width: 50%;
    padding: 40px;
}
.btC {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cmsg {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 80%;
    height: 80px;
}

#secDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: 50%;
}

.btC1 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

